@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

:root {
  --black: #000;
  --blue: #2a2185;
  --white: #fff;
  --gray: rgba(255, 255, 255, .2);
  --black1: #222;
  --black2: #999;
  --green: #018721;
  --purple: #8000ff;
  --red: #ff0000;
  --light_purple: #935fed;
  --light_pink: #bf70ff;
  --light_red: #ff5c5c;
}

body {
  background: url('../images/fundobranco.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}




/* ================= HEADER =================================== */

header {
  background-color: var(--black1);
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99999999;
  box-shadow: 0 0 10px rgba(0, 0, 0, .9);
}

header .logo {
  flex: 1;
  color: var(--white);
  margin-left: 50px;
  text-transform: uppercase;
  font-size: 15px;
}

header ul {
  flex: 2;
  display: flex;
  justify-content: space-evenly;
}

header ul li {
  list-style: none;
}

header .cadastros ul li {
  margin: 20px 10px;
  margin-left: -15px;
}

header ul li.current a {
  border-bottom: 2px solid var(--white);
}

header ul li a {
  text-decoration: none;
  color: var(--white);
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 10px;
  margin-right: 3px;
}

header ul li.ativo {
  text-decoration: none;
  color: var(--white);
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 10px;
  margin-right: 3px;
  border-bottom: 2px solid var(--white);
}

header ul li a:hover {
  border-bottom: 2px solid var(--white);
}

#chk1 {
  display: none;
}

i {
  color: var(--white);
  cursor: pointer;
}

header .menu {
  font-size: 2.5rem;
  display: none;
}

@media(max-width:1000px) {
  header ul {
    position: fixed;
    top: 100px;
    background: rgba(0, 0, 0, 0.5);
    height: calc(100vh - 100px);
    width: 50%;
    flex-direction: column;
    align-items: center;
    transition: right 0.5s linear;
  }

  header .menu {
    display: block;
    width: 100px;
    text-align: center;
  }

  #chk1:checked~ul {
    right: 0;
  }

  .cadastramento {
    display: none;
  }

  .bem-vindo-img {
    display: none;
  }



}

@media(max-width:600px) {
  header .logo {
    font-size: 10px;
    margin-left: 8px;
  }

  header ul {
    width: 100px;
  }

  .cadastramento {
    display: none;
  }
}



/* ========================== LOGIN ========================= */
.log-in {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('../images/fundobranco.jpg') no-repeat;
  background-size: cover;
  background-position: center;

}

.wrapper {
  width: 420px;
  border-radius: 20px;
  padding: 30px 40px;
  background: transparent;
  border: 2px solid var(--gray);
  /* backdrop-filter: blur(20px); */
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);

}

.wrapper h1 {
  font-size: 36px;
  text-align: center;
}

.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50%;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid #000;
  border-radius: 40px;
  font-size: 16px;
  padding: 20px 45px 20px 20px;
}



.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.wrapper .btnlog-in {
  width: 100%;
  height: 45%;
  background-color: var(--black1);
  border: none;
  outline: none;
  border-radius: 40px;
  color: #ffff;
  padding: 14px;
}

.wrapper .btnlog-in:hover {
  background-color: var(--black2);
  color: var(--white);
}

.novo-lista {
  margin-left: 100px;
}


/* ======================== PAGINA DE ERRO ===================== */
/* PAGINA DE ERRO  */
.bodyerro {
  overflow: hidden;
  background-color: var(--black2);
}

.mainerro {
  overflow: hidden;
}

.sectionerro {
  height: 100vh;
  padding: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.lefterro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.lefterro p {
  font-size: 5rem;
  color: var(--red);
  margin-top: -200px;
}

.lefterro h4 {
  font-size: 3rem;
  color: var(--black1);
  margin-bottom: 3rem;
}

.lefterro .btn {
  padding: 1.5rem 5rem;
  background-color: var(--black1);
  border-radius: 15px;
  color: var(--white);
  font-size: 1.2rem;
  font-weight: 700;
  transition: all 0.3s;
  text-decoration: none
}

.lefterro .btn:hover {
  background-color: var(--black2);
  color: var(--white);
}

.righterro img {
  width: 300px;
  margin-top: -80px;
  animation: float 0.8s infinite alternate;
}

.righterro .shadowerro {
  width: 250px;
  height: 45px;
  background-color: hsla(38, 21%, 19%, .16);
  border-radius: 50%;
  margin: 0 auto;
  filter: blur(5px);
  animation: shadow 0.8s infinite alternate;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(20px);
  }
}

@keyframes shadow {
  0% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(.85, .85);
  }
}




/* ======================== CADASTROS ======================== */
.cadastramento {
  margin: 50px;
  border: 1px solid var(--black1);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .7);
}

.pg-info {
  margin: 50px;


}

/* ==================== HOME ================= */

.bem-vindo-img {
  margin-top: -80px;
  margin-left: 400px;
  animation: float 0.8s infinite alternate;
}

/* ================ SCROLLBAR =================== */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--black1)
}

.regra-senha p {
  color: var(--black2);
}

.campos-obrigatorios {
  color: var(--light_red);

}

.campo-obrigatorio::after {
  content: "*";
  color: var(--red);
}

.Sair {
  color: var(--white);
  cursor: pointer;

}

.sub-menu {
  display: none;
  position: absolute;
  background-color: var(--black1);
  box-shadow: 0 8px 16px var(--black);
  z-index: 1;
  cursor: pointer;
  border-radius: 5px;
}


.cadastros:hover .sub-menu {
  display: block;
}

/* --------------- ICONE SENHA -------------------- */

.toggle-password {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--black);
}

.input-box {
  position: relative;
}

.input-box input[type="password"] {
  padding-right: 30px;
}